* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../image/background.png);
}

ul,
ol {
  list-style-type: none;
}

hr {
  color: rgb(200, 189, 162);
  border: solid;
}

h1 {
  color: hsl(0, 0%, 0%);
  padding: 30px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  -webkit-text-stroke: 2px rgb(200, 189, 162);
}

.nav-item a {
  color: rgb(200, 189, 162);
}
.nav-item a:hover {
  color: white;
}
.nav-rs {
  padding: 5px;
}
.nav-2 {
  display: flex;
  justify-content: center;
}

a[href*=instagram] svg {
  fill: rgb(116, 17, 31);
}

a[href*=twitter] svg {
  fill: blue;
}

.derechos {
  text-align: center;
  color: rgb(200, 189, 162);
}

.navbar-collapse {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}
.navbar {
  background-image: url(../image/background.png);
}
.navbar-nav a {
  color: rgb(200, 189, 162);
}
.navbar-nav a:hover {
  color: white;
}
.navbar-collapse.show {
  max-height: 1000px;
}

.btn-outline-success:hover {
  border: solid;
  color: white;
  background-color: grey;
}
.btn-outline-success {
  border: solid;
  color: white;
}

.form-control {
  border: solid;
  color: white;
}

.card-body p {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.articulo {
  max-width: 60vh;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 30px;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.row a {
  color: black;
  text-decoration: none;
}

.card-text {
  text-align: justify;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 18px;
  color: rgb(200, 189, 162);
}
.cardt-itle {
  color: rgb(200, 189, 162);
}
.card-body-grupo {
  padding: 35px;
}

#img-index {
  align-items: center;
  border-radius: 30px;
  padding: 20px;
}

.parrafo-inicio {
  padding: 25px;
  color: rgb(200, 189, 162);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

.rounded-start {
  border-radius: 35px !important;
}

.img-galeria {
  display: block;
  margin: auto;
  max-width: 600px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.input-group {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.form-contacto {
  background-color: rgba(126, 125, 123, 0.382);
  padding: 20px;
  border-radius: 10px;
  border: solid rgb(200, 189, 162);
  margin-top: 30px;
  margin-bottom: 50px;
}

.mb-3 {
  color: rgb(200, 189, 162);
}

.btn-primary {
  background-color: rgb(153, 153, 135);
  border-color: black;
}

.btn-primary:hover {
  background-color: rgb(89, 88, 88);
  border-color: black;
}

.btn-secondary {
  background-color: rgb(153, 153, 135);
  border-color: black;
}

#albunes .col-lg-4 {
  padding: 20px;
}

#albunes img {
  width: 100%;
  height: 250px;
}

#albunes img:hover {
  border: solid white;
}

/*# sourceMappingURL=style.css.map */
