* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ----- color principal -----//

$color-principal: rgb(200, 189, 162);

// ----- letra ----- //

$familia-letra-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$style-letra-principal: italic;

// ----- body -----//

body {
  background-image: url(../image/background.png);
}

// ----- lista ----- //

ul,
ol {
  list-style-type: none;
}

// ----- H1 ----- //

h1, h3, legend {
  color: hsl(0, 0%, 0%);
  padding: 30px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  -webkit-text-stroke: 2px $color-principal;
}

// ----- HR ----- //

hr {
  color: $color-principal;
  border: solid;
}