// ----------- PAG CONTACTO ----------- //

.form-group {
        padding: 5px;
        border-radius: 10px;
        border: solid $color-principal;
        margin-top: 10px;
    }

.form-bt {
    padding: 30px;
}

.btn-primary {
    background-color: rgb(153, 153, 135);
    border-color: black;
}

.btn-primary:hover {
    background-color: rgb(89, 88, 88);
    border-color: black;
}

.btn-secondary {
    background-color: rgb(153, 153, 135);
    border-color: black;
}