// ----- pagina Grupo ----- //


.rounded-start {
    border-radius: 35px !important; 
}

.fher {
    max-width: 100%;
    overflow-x: hidden;
}

.alex {
    max-width: 100%;
    overflow-x: hidden;
}

.juan {
    max-width: 100%;
    overflow-x: hidden;
}

.sergio {
    max-width: 100%;
    overflow-x: hidden;
}
