// ----- card articulos index -----//

.card-body p {
    text-align: center;
    font-family: $familia-letra-principal;
    font-style: $style-letra-principal;
}

.articulo {
    max-width: 60vh;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 30px;
}

h2 {
    font-family: $familia-letra-principal;
    font-style: $style-letra-principal;
}

.row a {
    color: black;
    text-decoration: none;
}


// ----- card grupo ----- //

.card {

    &-text {
        text-align: justify;
        font-family: $familia-letra-principal;
        font-style: $style-letra-principal;
        font-size: 18px;
        color: $color-principal;
    }

    &t-itle {
        color: $color-principal
    }

    &-body-grupo {
        padding: 35px;
    }
}