// ------ nav header ----- //

.navbar {

    &-collapse {
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
    }

    & {
        background-image: url(../image/background.png);
    }

    &-nav a {
        color: $color-principal;
    }

    &-nav a:hover {
        color: white;
    }

    &-collapse.show {
        max-height: 1000px;
    }

}

#nv-br {
    --bs-scroll-height: 100px;
}

.btn-outline-success:hover {
    border: solid;
    color: white;
    background-color: grey;
}

.btn-outline-success {
    border: solid;
    color: white;
}

.form-control {
    border: solid;
    color: white;
}